@font-face {
  font-family: 'PixelMplus10-Regular';
  src: local('~@/assets/fonts/PixelMplus10-Regular.ttf');
  src: url('~@/assets/fonts/PixelMplus10-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
